<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuai.hehe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.shuai.hehe.HeHeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.shuai.hehe.ui.MainActivity"
            android:label="@string/app_name" android:launchMode="singleTask" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.VideoActivity" android:hardwareAccelerated="true"></activity>
        <activity android:name=".ui.WebViewActivity" android:hardwareAccelerated="true" android:screenOrientation="landscape"></activity>
        <activity android:name=".ui.AlbumActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.AboutActivity" android:screenOrientation="portrait"></activity>
        
        <!-- 友盟信息 -->
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <meta-data android:name="UMENG_APPKEY"  android:value="534c9b2d56240b5dda01c687" />
        <meta-data android:name="UMENG_CHANNEL" android:value="360" />
        
    </application>
    

</manifest>
